<div id="<%= dom_id user %>">
  <p>
    <strong>Login:</strong>
    <%= user.Login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.Password %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= user.FirstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.LastName %>
  </p>

</div>
